// Unique style

#slideIn{
	transition: left 1.4s;
	position: absolute;
	left: 100%;

	&.active{
		left: 0%;
	}
}

$btnSize: 60px;
#btn1{
	width: $btnSize;
	height: $btnSize;
	right: 40px;
	top: 55px;
}

.copy{
	position: absolute;
	opacity: 0;
	transition: opacity .7s;
	&.active{
		opacity: 1;
	}
}