extends ../_template.pug

block vars
	- var bodyClass = ''

block content

	img#slideIn(src="img/1.png")
	.btn#btn1(data-activate='#slideIn')
	img#copy1.copy(src="img/2.png")
	img#copy2.copy(src="img/3.png")



							
