extends ../_template.pug

block vars
	- var bodyClass = ''

block content

	.btn#btn1(data-activate="#blurb1")
	.btn#btn2(data-activate="#blurb2")
	img#blurb1.blurb(src="img/1.png")
	img#blurb2.blurb(src="img/2.png")
							
