// Debug stuff
.btn{
	//background-color: rgba(255, 0, 0, .6);
}
*{
	//background-image: none !important;
}
#slide{
	//opacity: .1;
}


// Get rid of tap flash
*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
}

// Global styles
#slide{
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	width: 1024px;
	height: 768px;
	position: relative;
	background-size: contain;
}
img{
	max-width: 100%;
}
.hide{
	display: none !important;
}


// Menu buttons
$menu-button-w: 182px;
#menu{
	.btn{
		top: 0;
		width: $menu-button-w;
		height: 40px;
		z-index: 100;
	}
}
#mnu5{
	right: 0;
}
#mnu4{
	right: $menu-button-w;
}
#mnu3{
	right: ($menu-button-w * 2);
}
#mnu2{
	right: ($menu-button-w * 3);
}
#mnu1{
	right: ($menu-button-w * 4);
	width: 122px !important;
}


.fullTap{
	//background-color: rgba(255, 0, 0, .6);
	z-index: 2;
}




// References
#ref{
	z-index: 10;
	position: absolute;
}


// Layer types
.top{
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	z-index: 11;
	transition: opacity .5s;
	&.active{
		opacity: 1;
	}
}
.layer{
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	z-index: 2;
	transition: opacity .5s;
	&.active{
		opacity: 1;
	}
}


// Animation transitions
.opacity{
	transition: opacity .5s;
	opacity: 0;
	&.active{
		opacity: 1;
	}
}
.hide{
	display: none;
	&.active{
		display: block !important;
		opacity: 1 !important;
	}
}
.expand{
	transition: transform .5s, opacity .5s;
	transform: scale(0);
	opacity: 0;
	&.active{
		transform: scale(1);
		opacity: 1;
	}
}
.position{
	transition: transform .5s, opacity .5s;
	opacity: 0;
	&.active{
		transform: translate(0, 0);
		opacity: 1;
	}
}
.height{
	transition: transform 1.7s, opacity .3s;
	transform-origin: 50% 100%;
	transform: scaleY(0);
	opacity: 0;
	&.active{
		transform: scaleY(1) !important;
		opacity: 1 !important;
	}
}


// Infinite animations
@keyframes fading{
	0%, 100%: {
		opacity: 0;
	},
	50%: {
		opacity: 1;
	}
}
.infiteFade{
	opacity: 0;
	&.active{
		animation: fading 2s infinite;
		opacity: 1 !important;
	}
}


// Buttons
.btn{
	position: absolute;
	cursor: pointer;
	display: block;
	z-index: 9;
}
#refBtn{
	bottom: 0;
	right: 0;
	height: 50px;
	width: 240px;
}